<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Parallel Cascade is the website of Emil Tonev, a video game developer based in Sofia, Bulgaria. 
          Here you can find projects I'm currently working on - data-oriented systems
           for Unity's ECS, procedural shaders and visual effects and more. </p>
      </div>
      <div class="col-lg-4">
        <p>In the future, some of the completed systems and asset packages listed will be published on the
           Unity Asset Store. Also stay tuned for the announcement of Titanomachia, a space game utilising
            the power of DOTS and ECS to deliver chaotic destruction on a galactic scale.
        </p>
      </div>
    </div>
  </div>
</section>
