<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Emil Tonev and I'm a video game developer based in Sofia, Bulgaria. I've been developing procedural shaders
          and visual effects with a focus on scale and performance. I've specialised in Unity's DOTS and ECS workflow. </p>
      </div>
      <div class="col-lg-4">
        <p>You can view the various projects I'm currently working on, as well as the list of assets I've published or am going
          to publish on the Unity Asset Store.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://assetstore.unity.com/publisher-sale" class="btn btn-lg btn-outline">
          <i class="fa"></i> Asset Store
        </a>
      </div>
    </div>
  </div>
</section>
