<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Parallel Cascades create high-quality Unity assets for procedural generation, 
          dynamic 3D shaders, and modular designs. We are committed to providing long-term support 
          and regular updates to improve and expand our products.</p>
      </div>
      <div class="col-lg-4">
        <p>Below you can find links to our assets published on the Unity Asset Store, as well as previews of 
          what we're currently working on.
          Do not hesitate to contact us for any questions, feedback, or support. 
        </p>
      </div>
    </div>
  </div>
</section>
