<!-- Portfolio Modals -->
{% for asset in site.indev %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ asset.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ asset.title }}</h2>
            <hr class="division-line">
            <img src="img/indev/{{ asset.img }}" class="img-responsive img-centered" alt="{{ asset.alt }}">
            {% if asset.description %}
            <p>{{ asset.description }}</p>
            {% endif %}
            {% if asset.images %}
            <div class="image-grid">
              <div class="row">
                {% for image in asset.images %}
                <div class="col-md-4 col-sm-6">
                  <a href="img/indev/{{ image }}" data-lightbox="asset-{{ asset.modal-id }}" data-title="{{ asset.title }}">
                    <img src="img/indev/{{ image }}" class="img-responsive" alt="{{ asset.title }}">
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
